/* HEADER */


body {
    margin-top: 100px;
    /* max-width: 1920px; */
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 800px;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    gap: 33px;
    max-width: 1920px;
}

.header-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid var(--primary);
    padding: 10px 20px 10px 20px;
    background-image: url("../images/placeholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: #00000059;
}

.header-second {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 4px solid var(--primary);
    background-color: var(--green);
}

#sale-animation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#explore-button {
    width: 200px;
    height: 50px;
    border: 4px solid #e9e9e9;
}

#explore-button p {
    color: #e9e9e9;
}


/* SALE ANIMATION */

#sale-animation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


#sale-animation h2 {
    position: absolute;
    white-space: nowrap;
    left: 1000px;
}



/* REVIEWS */

.reviews-section h2 {
    text-align: center;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}


.review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding-bottom: 34px;
}

.review p {
    margin: 0;
    font-family: 'ByteBounce';
    text-transform: none;
}

.review-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.review-header p {
    font-family: "Pixeboy";
    margin: 0;
    color: var(--pink);
}

.review-stars {
    display: flex;
    gap: 5px;
    height: 25px;
}

.review-stars img {
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 800px) {

    header {
        flex-direction: column;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-second {
        height: 200px;
        width: 100%;
    }

    .reviews-container {
        min-width: 300px;
        width: 100%;
    }

}

@media screen and (max-width: 520px) {

    header {
        flex-direction: column;
        margin-top: 135px;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        gap: 20px;
    }

    header h1{
        font-size: 48px;
    }

    .header-first {
        padding: 30px 20px;
    }

    .header-second {
        height: 200px;
        width: 100%;
    }

    .reviews-container {
        min-width: 300px;
        width: 100%;
    }

}
