body {
    margin: 0;
    background-color: #e9e9e9;
}

nav {
    padding-left: 90px;
    padding-right: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #e9e9e999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1000;
}

.nav-explore {
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore-new {
    background-color: #FF24F4;
    padding: 6px;
    height: 39px;
    width: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-new p {
    padding-top: 2px;
}

.nav-logo img {
    width: 114px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 17px;
}

.cart-button {
    padding: 3px 10px 3px 13px;
    border: 4px solid #1e1e1e;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 49px;
}

.cart-button img {
    width: 36px;
}

.mode-button {
    padding: 3px 6px 3px 6px;
    border: 4px solid #1e1e1e;
    display: flex;
    align-items: center;
    height: 49px;
    width: 55px;
    justify-content: center;
}

.mode-button img {
    width: 31px;
}