body {
    margin: 0;
    background-color: #e9e9e9;
}

nav {
    padding-left: 90px;
    padding-right: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #e9e9e999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 1920px;
    margin: 0 auto;
    z-index: 1000;
}

.nav-explore {
    display: flex;
    align-items: center;
    gap: 10px;
}

.explore-new {
    background-color: var(--pink);
    padding: 6px;
    height: 39px;
    width: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.explore-new p {
    padding-top: 2px;
    z-index: 2;
}

.nav-logo img {
    width: 114px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 17px;
}

.cart-button {
    padding: 3px 10px 3px 13px;
    border: 4px solid var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 49px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.cart-button img {
    width: 36px;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.cart-button p {
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.cart-button:hover {
    cursor: pointer;
    background-color: var(--black);
}

.mode-button {
    padding: 3px 6px 3px 6px;
    border: 4px solid var(--black);
    display: flex;
    align-items: center;
    height: 49px;
    width: 55px;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.mode-button img {
    width: 31px;
    z-index: 2;
}

/* HOVER ANIMATION */
.hover-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.hover-skew {
    position: absolute;
    width: 20px;
    height: 100%;
    transform: skewX(-20deg);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
}

.cart-button:hover .hover-skew {
    opacity: 1;
}

.mode-button:hover .hover-skew {
    opacity: 1;
}

.explore-new:hover .hover-skew {
    opacity: 1;
}