@font-face {
    font-family: "Pixeboy";
    src: url("../font/Pixeboy.woff2") format("woff2"),
         url("../font/Pixeboy.woff") format("woff"),
         url("../font/Pixeboy.ttf") format("truetype");
}

@font-face {
    font-family: 'ByteBounce';
    src: local('ByteBounce'), 
         local('ByteBounce Medium'),
         url('../font/ByteBounce.woff') format('woff');
}

@font-face {
    font-family: "Inter Bold";
    src: url("../font/Inter-Bold.woff2") format("woff2"),
         url("../font/Inter-Bold.woff") format("woff"),
         url("../font/Inter-Bold.ttf") format("truetype");
}

h1{
    font-family: "Inter Bold";
    font-size: 68px;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-family: "Inter Bold";
    font-size: 48px;
    text-transform: uppercase;
}

p{
    font-family: "Pixeboy";
    font-size: 26px;
    margin: 0;
}

.text-black{
    color: var(--primary);
}

.text-white{
    color: var(--background);
}
